
body{
    margin-top: 100px;
    background-color: lemonchiffon;
    font-family: 'Indie Flower', cursive;
}
.bg-purple{
    background-color: rgba(182, 42, 42, 0.733); 
}

.navbar{
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}
#carouselExampleIndicators{
    margin: 0 auto;
    width: 80%;
}

.carousel-caption{
    background-color:rgba(41, 37, 37, 0.253);
    width: 70%;
    margin: 0 auto;
}

.servicos{
    margin-bottom: 80px;
}

#licainvestimentos{
    font-size: 100px;
}